@font-face {
  font-family: "Cramaten";
  src: url("../font/Cramaten.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

// Box shadows
$box-shadow-inset: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
  rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
$box-shadow-regular: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

// Neutros escuros e claros
$color-charcoal: #2e2a26;
$color-beige: #f5f2ec;
$color-sand: #e5e0d8;
$color-tan: #e5d2b8;

// Terrosos / naturais
$color-olive: #6a7c5f;
$color-brown: hsl(36, 33%, 34%);

// Cores principais
$color-red-earth: #a14d4d; // terroso, queimado
$color-yellow-mustard: #c9a74e; // mostarda suave
$color-green-olive-dark: #4f6a4a; // oliva escuro

// Versões claras
$color-red-light: #e0c5c5;
$color-yellow-light: #e9e2cd;
$color-green-light: #b4c7b7;

$primary: #4f6a4a;
$light: #f5f2ec;
$dark: #2e2a26;

* {
  @extend .montserrat;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.bg-2 {
  background-color: $color-sand;
}

section {
  scroll-margin-top: 20vh;
}

img {
  object-fit: contain;
}

h1,
.text-body-emphasis {
  color: $dark;
  font-family: "Cramaten", sans-serif;
  letter-spacing: 0.2rem;
}

h2,
.ff-poppins {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p {
  text-align: justify;
}

.card {
  .card-header {
    background-color: transparent;
    border: 0;
  }
}

.feature-icon-small {
  width: min-content;
}

.fit-content {
  width: fit-content;
}

.ff-cramaten {
  font-family: "Cramaten", sans-serif;
}

.hero-section {
  background-color: $color-tan;
  min-height: 60vh;

  img {
    $size: 500px;
    max-width: 2/2 * $size;
    max-height: 3/2 * $size;
  }

  h1 {
    font-size: 8rem;
  }
}

.professional-presentation {
  a {
    text-decoration: none;
  }
}

.section-target-audience {
  .card {
    h1 {
      font-size: 4rem;
    }
  }

  .card:nth-child(1) {
    background-color: $color-red-earth;
  }
  .card:nth-child(2) {
    background-color: $color-yellow-mustard;
  }
  .card:nth-child(3) {
    background-color: $color-green-olive-dark;
  }
}

.btn-link {
  text-decoration: none;
  text-align: left;
}

.services-offered {
  background-image: url("../imgs/leaves-1868742_1920.jpg");

  box-shadow: $box-shadow-inset;

  .container {
    box-shadow: $box-shadow-regular;
  }

  svg {
    fill: $color-beige;
  }
}

.about-my-background {
  h1 {
    color: $primary;

    font-size: 4rem;
  }

  h2 {
    color: $color-yellow-mustard;
  }

  a {
    text-decoration: none;
  }

  img {
    width: 100%;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap";
